.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.column-mapa {
  float: left;
  width: 75%;
  height: 500px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.column-chat {
  float: left;
  width: 20%;
  height: 500px;
  padding: 15px;
  text-align: center;
}

.container {
  border: 3px solid rgb(39, 39, 41);
  height: 900px;
  text-align:left;
  margin:0 auto;
  margin-bottom:25px;
  padding:10px;
  height:auto;
  overflow:auto;
}
    
.column-info {
  padding: 10px;
  text-align: center;
}

.card{
  margin: auto;
  background: var(--card-color);
  color:rgb(75, 145, 192);
  width: 20%;
  padding: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.377);
  border-radius: 20px;            
}

.leaflet-container {
  width: 900px;
  height: 400px;
}